.w90 {
    width: 90%;
}

.bg-gray {
    background-color: rgba(221,211,211,.4);
}

.border-gray {
    border: 1px solid rgb(221,211,211);
}

.bg-lightGreen {
    background-color: rgba(144,238,144,.4);
}

.bg-lightRed {
    background-color: rgba(255,105,97,.4);
}

.bg-lightYellow {
    background-color: rgba(255,255,102,.4);
}

.bg {
    width: 20px;
    height: 23px;
    border-radius: 20px;
    background: rgb(144,238,144);
}

.br {
    width: 20px;
    height: 23px;
    border-radius: 20px;
    background: rgb(255,105,97);
}

.p-br {
    word-break: break-word;
}

/* Alterações */

.logoImg {
    width: 8rem;
    height: 4rem;
    border-radius: 5px;
    margin-left: 1rem;
}

.profileImg {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 4rem;
    margin-right: 1rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,.7);
}

#barDown {
    position: absolute;
    top: 65%;
    left: 88%;
}

#barUp {
    position: absolute;
    top: 65%;
    left: 88%;
    display:none;
}

#descricao, #descricaoEdit {
    height: 4rem;
}

#descricaoEdit {
    height: 1rem;
}

.refeicao {
    cursor: pointer;
}

@media(min-width:600px) and (max-width:767px){
    #barDown {
        top: 60%;
    }
    #barUp {
        top: 60%;
    }
}

@media(min-width:768px) and (max-width:991px) {
    #barDown {
        top: 57%;
    }
    #barUp {
        top: 57%;
    }
    body {
        width: 70%;
        margin: 0 auto;
    }
}

@media(min-width: 992px) and (max-width:1199px) {
    #barDown {
        top: 55%;
    }
    #barUp {
        top: 55%;
    }
    body {
        width: 65%;
        margin: 0 auto;
    }
}

@media(min-width: 1200px) {
    #barDown {
        top: 55%;
    }
    #barUp {
        top: 55%;
    }
    body {
        width: 65%;
        margin: 0 auto;
    }
}